html {
  background-image: url("img/trophy.svg");
  height: 100%;
  width: 100%;
  font-size: 26px;
}


.title {
    font-family: Impact;
    font-size: 72px;
    text-align: center;
}

.intro {
  font-family: sans serif;
  text-align: center;
  font-size: 24px
}
.play {
  color: red;
  text-align: center;
  margin: 3em;
}

.haha {
  text-align: center;
  font-size:1.3em;
}

.btn {
  border-radius: 5px;
  border: solid black 1px;
  padding: 1em;
  background-color: purple;
  text-align: center;
  color: white;
  font-size: 1em;
}

input {
  display: inline-block;
}

.trophy {
  background-image: url (trophy.svg);
  background-repeat: no-repeat;
  height:2em;
  width:2em;
}
#start {
  font-family: cursive
}